.box-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}


@media screen and (max-width:743px) {
    .box-container {
        display: flex;
        flex-direction: column;
    }



    .cell-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 0.4fr);
    }


    .box {
        min-height: 300px;
        display: grid;
        background: antiquewhite;
        grid-template-rows: 0fr;
    }

    ul {
        max-height: 500px;
        overflow: auto;
    }

}


@media screen and (max-width:1010px) {



    .btn-wrapper,
    h2 {
        font-size: 1em;
    }
}


.cell-container {
    /* display: flex;
    flex-direction: column; */
    min-height: 100px;
    overflow: hidden;
    margin: 10px;
    padding: 4px;
    background-color: #cedaff;
    border: 1px solid hotpink;
    display: block;
    word-wrap: break-word;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.1fr);
}

.box {
    margin: 10px;
    border: 2px solid black;
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.btn-wrapper,
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;

}

.btn-wrapper {
    align-items: flex-end;
}


.btn {
    background-color: #0d6efd;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;

    transition: all 150ms ease-in-out;
}


.btn:active,
.btn:hover,
.btn:active::after {

    background-color: #569bff;
}


.section_head {
    display: grid;
    grid-template-columns: 1fr 1fr;

    outline: 2px solid black;
}


textarea {
    padding: 10px;

    max-width: 100%;
    line-height: 1.5;
    box-shadow: 1px 1px 1px #999;

    resize: none;
}


dialog::backdrop {
    background: rgb(244, 226, 226);
    opacity: 0.5;
}

h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ul {
    height: 100%;
    width: auto;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

.close {
    background-color: #dc3545;
}

.close:active,
.close:hover,
.close::after {
    background-color: #e57a84;
}



@media screen and (max-width:810px) {
    .btn {
        padding: 10px;
    }
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

dialog {
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}



.btn-none {
    border: 0;
    background-color: transparent;
    display: flex;
    cursor: pointer;

    padding: 9px;
}



@media screen and (max-width:976px) {

    .btn-none {
        padding: 2px;
    }

}



@media screen and (max-width:746px) {
    .cell-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 0.04fr);
    }

    .btn-none {
        padding: 2px;
    }

}

/* .delete-img {
    position: fixed;
} */
